:root {
  --color-dark: #333;
  --color-light: #fafafa;
  --spacing: 1rem;
  --spacing-medium: calc(var(--spacing) / 2);
  --border-width: 3px;
  --border-color: var(--color-dark);
  --border: var(--border-width) solid var(--border-color);
  --transition-time: .3s;
}

@media screen and (min-width: 768px) {
  :root {
    --spacing: 2rem;
  }
}

*, *::after, *::before {
  box-sizing: border-box;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

a, input, textarea {
  transition: var(--transition-time);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: var(--spacing);
  line-height: 1.3;
  font-family: sans-serif;
}

.footer {
  margin-top: auto;
  text-align: center;
}

.footer p {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
}

.footer a {
  text-decoration: none;
  border-bottom: var(--border);
  color: var(--color-dark);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
}
  
.grid__column {
  padding: var(--spacing);
  width: 100%;
}

@media screen and (min-width: 768px) {
  .grid__column {
    position: relative;
    width: calc(50% - var(--spacing) / 2);
  }
}

.grid__column--inputs {
  border: var(--border);
  background-color: beige;
}

.grid__column--items {
  border: var(--border);
  background-color: azure;
}

.title {
  margin-bottom: var(--spacing);
  padding: var(--spacing);
  background-color: var(--color-dark);
  color: var(--color-light);
  border-bottom: var(--border);
}

.thing__label {
  margin-bottom: var(--spacing-medium);
  display: inline-block;
  font-weight: bold;
}

.thing__thing {
  width: 100%;
  padding: var(--spacing);
}

.thing__thing:focus,
.thing__thing:hover {
  outline: none;
  border-style: dashed;
}

input, textarea {
  border: var(--border);
  background-color: white;
  width: 100%;
  max-width: 100%;
}

[type="button"] {
  padding: var(--spacing);
  margin-top: var(--spacing);
  cursor: pointer;
}

[type="button"]:hover,
[type="button"]:focus {
  background-color: var(--color-dark);
  color: var(--color-light)
}

[type="button"]:active {
  transform: scale(.99);
}

.things-i-learned {
  padding-left: 0;
}

.thing-i-learned {
  list-style: none;
  border: var(--border);
  padding: var(--spacing);
}

.thing-i-learned__text {
  background-color: beige;
  margin: 0;
  padding: var(--spacing);
  border: var(--border);
}

.thing-i-learned + .thing-i-learned {
  margin-top: var(--spacing);
}

.share-list {
  display: flex;
  justify-content: end;
  padding-left: 0;
  padding-top: var(--spacing);
}

.share-list__item {
  margin-left: var(--spacing);
  line-height: 1;
  list-style: none;
}
.share-list__link svg {
  width: 1.5rem;
  height: auto;
  transition: var(--transition-time);
}

.share-list__link:hover svg,
.share-list__link:focus svg {
  transform: scale(1.5);
}
.share-list__link:hover,
.share-list__link:focus {
  outline: none;
}