:root {
  --spacing: 1rem;
  --border-width: 3px;
  --border-color: black;
  --border: var(--border-width) solid var(--border-color);
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  /* margin: 0; */
  /* background-color: black; */
  border: var(--border);
}

.grid {
  display: flex;
  gap: var(--border-width);
  background-color: black;
}

.grid__column {
  width: 50%;
  padding: var(--spacing);
}

.grid__column--inputs {
  min-height: 100vh;
  background-color: beige;
}

.grid__column--items {
  min-height: 100vh;
  background-color: azure;
}

.title {
  padding: var(--spacing);
  background-color: cadetblue;
  color: white;
  border-bottom: var(--border);
}

.text-for-thing {
  width: 100%;
  padding: var(--spacing);
}

input, textarea {
  border: var(--border);
  background-color: white;
}

[type="button"] {
  width: 100%;
  padding: var(--spacing);
  margin-top: var(--spacing);
  cursor: pointer;
}

.things-i-learned {
  padding-left: 0;
}

.thing-i-learned {
  list-style: none;
  border: var(--border);
  padding: var(--spacing);
}

.thing-i-learned + .thing-i-learned {
  margin-top: var(--spacing);
}